<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="//cdn.bootcss.com/normalize/4.1.1/normalize.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="root">
      loading...
    </div>
  <% for (var i=0; i< htmlWebpackPlugin.options.cdns.length; i++) { %>
    <script src="<%= htmlWebpackPlugin.options.cdns[i] %>"></script>
  <% } %>
  </body>
</html>
