.hello {
  color: gray;
  font-size: 24px;
}

.icon {
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100px;
  height: @width;
}
